extends ../../layout

block content
  .container-fluid
    .jumbotron
      h1 What We Offer
      p CHS is proud to offer our students the latest technologies to aid in their learning. We firmly believe that by doing this, we are effectively teaching our students to live and work using 21st century tools.

    .row
      .col-sm-4
        .panel
          .panel-body
            center
              i(style='font-size: 1000%').fa.fa-tablet
              br
              h3 iPads
              p CHS provides every high school student with an iPad to aid in their studies. iPads are used for reading textbooks, taking notes, researching using the internet, as well as many other in-class activities. Students are provided the option to lease an iPad from the school, or to bring their own device.
              a.btn.btn-default(href='/what-we-offer/ipads', role='button') Learn More
      .col-sm-4
        .panel
          .panel-body
            center
              // Office 365 icon by Icons8
              img(src='https://png.icons8.com/office-365/color/96', title='Office 365', width='118', height='118')
              br
              br
              h3 Office 365
              p Every Upper School student at CHS (grades 6-12) receives an Office 365 account and a kingsmen.org email address. This enables the student to have a separate email account for educational purposes. The students also have full access to all of the Microsoft Office applications, on PC, Mac, iOS, and Android.
              a.btn.btn-default(href='/what-we-offer/office365', role='button') Learn More
      .col-sm-4
        .panel
          .panel-body
            center
              img(src='https://factsmgt.com/wp-content/themes/facts/img/icon-renweb-lg.png', title='RenWeb', height='118')
              br
              br
              h3 RenWeb
              p RenWeb is the system that CHS uses to manage grades, classes, schedules, assignments, and much more. All students, and their parents, receive accounts in order to access their information online. There are also mobile apps available for Android and iOS, to enable anytime-anywhere access to student information.
              a.btn.btn-default(href='/what-we-offer/renweb', role='button') Learn More

    .row
      .col-sm-4
        .panel
          .panel-body
            center
              span(style='font-size: 1000%').glyphicon.glyphicon-book
              br
              br
              h3 Digital Textbooks
              p Textbooks just became much less expensive! Since every high school student receives an iPad, we are able to provide required course texts digitally, through iBooks, Pearson eText, and more. Students are also able to download and install a preferred Bible app for use during those classes and beyond.
              a.btn.btn-default(href='/what-we-offer/digital-textbooks', role='button') Learn More
      .col-sm-4
        .panel
          .panel-body
            center
              span(style='font-size: 1000%').glyphicon.glyphicon-cloud-upload
              br
              br
              h3 Digital Assignment Submission
              p CHS is on the cutting edge of digital education, so we use the latest tools to improve all aspects of schooling, especially the turning in of assignments. We use iTunes U to streamline document distribution and homework hand-in for participating classes, and Turnitin to receive immediate feedback on possible plagiarism.
              a.btn.btn-default(href='/what-we-offer/digital-assignment-submission', role='button') Learn More
      .col-sm-4
        .panel
          .panel-body
            center
              img(src="https://pbs.twimg.com/profile_images/806314739630424064/R_Ju2ljg.jpg" title="App Symbol" width="145" height="145")
              br
              br
              h3 iPad Software
              p We provide free access to many iPad apps for use in school, including: Notability, a fully-featured iPad note taking app; myHomework, a digital planner for keeping track of homework; Educreations, an app that enables the creation of interesting presentations; and Nearpod, an app providing interactive lessons.
              a.btn.btn-default(href='/what-we-offer/ipad-software', role='button') Learn More

    .row
      .col-sm-4
        .panel
          .panel-body
            center
              img(src='http://help.apple.com/classroom/ipad/2.0/en.lproj/GlobalArt/AppLanding_Classroom.png', title='Apple Classroom', width='145', height='145')
              br
              br
              h3 Apple Classroom
              p Apple Classroom is an app that empowers teachers to monitor iPad use in their classrooms to keep students focused on their work. Teachers can launch any app, website, or book; lock devices into a single app, or lock screens altogether. Teachers can also see what is on their students' screens and share them to the classroom's Apple TV.
              a.btn.btn-default(href='/what-we-offer/apple-classroom', role='button') Learn More
      .col-sm-4
        .panel
          .panel-body
            center
              i(style='font-size: 1040%').fa.fa-apple
              br
              br
              h3 Managed Apple IDs
              p Beginning with the Class of 2021, we create and manage Apple ID's for every incoming freshman student. This enables a simplified onboarding program for the student (as we take care of getting everything ready on their iPad) as well as fine-grained control over what goes on the iPad, ensuring students are using their iPads for educational purposes and that they are on-task in class.
              a.btn.btn-default(href='/what-we-offer/managed-apple-ids', role='button') Learn More
      .col-sm-4
        .panel
          .panel-body
            center
              img(src='http://www.oprfhs.org/student-services/images/Untitled-1_300_283.png', title='Naviance', width='154', height='145')
              br
              br
              h3 Naviance
              p Once students reach the upper levels of high school, the time comes when they need to start thinking about what comes after graduation. We're here to help! We use a platform called Naviance, which provides many self-discovery tools, as well as a comprehensive college search system. Naviance also provides an integration and link to our community service logging platform.
              a.btn.btn-default(href='/what-we-offer/naviance', role='button') Learn More