extends ../layout

block content
  .container
    if messages.success
      div.text-success
        for success in messages.success
          div= success.msg
    if messages.error
      div.text-danger
        for error in messages.error
          div= error.msg

    h3 Contact Form

    form(action='/helpdesk', method='GET')
      label(for='name') Name
      input(type='text', name='name', id='name', autofocus)
      label(for='email') Kingsmen Email
      input(type='email', name='email', id='email')
      label(for='helpType') I am a...
      select(name='helpType', id='helpType')
        option(value='student') Student
        option(value='faculty') Faculty/Staff
      br
      button(type='submit') Send
